.spinner-circles{
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 70vh;
}

button {
    font-size: 36px;
    padding: 16px;
    border-radius: 16px;
    background-color: red;
    color: white;
    font-weight: bold;
  }